@charset "utf-8";
::selection {
    background: #4F93C3;
    color: #ffffff;
}
a, a:link {
    text-decoration: none;
    color: inherit;
}
ul, li {
    list-style: none;
}
.d-none {
    display: none;
}
body {
    font-family: 'Noto Sans KR', sans-serif;
}
/*index*/
#popup {
    /* display: none; */
    position: absolute;
    top: 20%;
    left: 10%;
    z-index: 500;
    width: 350px;
    height: 630px;
    box-sizing: border-box;
    background: #ffffff;
    padding: 20px;
    box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, .5);
}
#popup button {
    float: right;
    margin: 10px 0 0 0;
    padding: 5px 10px;
    background: #4F93C3;
    border: none;
    color: #ffffff;
}
.burger {
    display: none;
}
.close {
    display: none;
}
.header-wrap {
    height: 100px;
    background: #CEE3F1;
}
header {
    width: 1200px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 0 auto;
}
#snb {
    position: absolute;
    display: flex;
    top: 20%;
    right: 0%;
    gap: 20px;
    font-size: 13px;
    color: #333333;
}
.gnb-wrap {
    display: flex;
    align-items: flex-end;
}
#gnb {
    width: 1000px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#gnb > li {
    width: 150px;
    height: 50px;
    position: relative;
    box-sizing: border-box;
}
#gnb > li > a {
    display: block;
    height: 50px;
    text-align: center;
    line-height: 50px;
}
.lnb {
    display: none;
    position: absolute;
    z-index: 100;
    height: 150px;
    top: 100%;
    color: #333333;
}
.lnb a {
    display: block;
    height: 50px;
    line-height: 50px;
}
.lnb li {
    width: 150px;
}
.lnb li a {
    text-align: center;
}
.menuhover {
    width: 150px;
    height: 50px;
    box-sizing: border-box;
    color: #0E3C82 !important;
    font-size: 20px;
    font-weight: 700;
}
.menuhover:hover {
    border-bottom: 5px solid #0E3C82;
}
.lnb li a:hover {
    color: #0E3C82;
    font-weight: 700;
}
.gnb-bg {
    position: absolute;
    width: 1200px;
    height: 0px;
    top: 100px;
    background: #F1F1F1;
}
.carousel {
    width: 1200px;
    height: 300px;
    margin: 0 auto;
    overflow-x: hidden;
}
.img-wrap {
    display: flex;
}
.quick {
    background: #ECF4F9;
    width: 1200px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    margin: 0 auto 40px auto;
}
.quick p {
    font-size: 28px;
    font-weight: 700;
    color: #0E3C82;
}
.quick-check {
    width: 190px;
    height: 50px;
}
.quick button {
    width: 150px;
    height: 60px;
    background: #0E3C82;
    color: #ffffff;
    font-size: 28px;
    font-weight: 700;
    border: none;
}
.gallery {
    width: 1096px;
    height: 800px;
    margin: 0 auto;
    box-sizing: border-box;
}
.gallery ul {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px 0;
}
.gallery li {
    width: 350px;
    height: 350px;
    border: 1px solid #4F93C3;
}
.gallery-cover {
    position: absolute;
    transform: translate(-100% 0);
    bottom: 1px;
    width: 350px;
    height: 100px;
    box-sizing: border-box;
    padding: 25px 0 0 15px ;
    background: #ffffff;
}
.gallery-cover h2 {
    margin: 0 0 6px 0;
}
.gallery-cover h3 {
    font-size: 20px;
}
.campaign-wrap {
    width: 1150px;
    height: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.campaign {
    width: 550px;
    height: 250px;
    background: #ECF4F9;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 25px;
    position: relative;
}
.campaign h2 {
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 20px 0;
    color: #0E3C82;
}
.campaign h3 {
    font-size: 32px;
    /* font-weight: 600; */
}
.campaign p {
    position: absolute;
    right: 5%;
    bottom: 5%;
    font-size: 80px;
    color: #0E3C82;
}
footer {
    width: 1200px;
    height: 100px;
    margin: 0 auto 50px auto;
    display: flex;
    justify-content: space-between;
}
address p {
    font-size: 12px;
}
/*resort*/
.resort-section {
    width: 1200px;
    height: auto;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.sidebar {
    width: 265px;
    padding: 20px 10px ;
    box-sizing: border-box;
    background: #CEE3F1;
}
.sidebar p {
    font-size: 24px;
    font-weight: 600;
    color: #0E3C82;
    padding: 0 0 0 15px;
}
.sidebar ul {
    border-top: 5px solid #4F93C3;
    padding: 10px 0;
    margin: 15px 0 0 0;
}
.sidebar li {
    font-size: 16px;
    width: 230px;
    height: 30px;
    margin: 2px 0;
    padding: 0 0 0 10px;
    display: flex;
    align-items: center;
}
.side-on {
    background: #ECF4F9;
    border-left: 3px solid #4F93C3;
}
.main {
    width: 895px;
    padding: 10px;
}
.main h2 {
    font-size: 32px;
    font-weight: 700;
    color: #0E3C82;
    text-align: left;
    text-indent: 20px;
    padding: 0 0 20px 0;
    margin: 15px 0 20px 0;
    border-bottom: 3px solid #4F93C3;
}
.contents {
    width: 850px;
    height: auto;
    margin: 0 auto;
}
.resort-main {
    text-align: center;
}
.contents h3 {
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    margin: 20px;
}
.resort-img {
    width: 630px;
    height: 385px;
    margin: 0 auto;
}
.resort-text {
    margin: 20px 0 0 0;
}
.tab-menu {
    display: flex;
    justify-content: space-between;
}
.tab-menu li {
    width: 190px;
    height: 50px;
    box-sizing: border-box;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    border: 1px solid #4F93C3;
    margin: 0 0 10px 0;
}
.info-active {
    background: #4F93C3 !important;
    color: #ffffff;
}
.on {
    display: block !important;
}
.tab-contents ul {
    display: none;
}
/* promotion */
.event-contents ul {
    width: 850px;
    box-sizing: border-box;
}
.event-contents ul p {
    width: 760x;
    height: 210px;
    margin: 20px;
}
.event-contents li {
    background: #ffffff;
    width: 382px;
    height: 212px;
    box-sizing: border-box;
    border: 1px solid #4F93C3;
    float: left;
    margin: 20px;
}
.event-contents h3 {
    text-align: left;
    font-size: 20px;
    font-weight: 100;
    margin: 15px 0 5px 15px;
}
.event-contents h4 {
    text-align: left;
    font-size: 16px;
    font-weight: 100;
    margin: 0 0 20px 15px;
}
.event-contents h5 {
    text-align: left;
    font-size: 24px;
    font-weight: 100;
    margin: 0 0 0 15px;
}

/**/
.time {
    max-width: 1200;
    height: 500px;
    padding: 30px;
}
.time-wrap {
    max-width: 1200;
    height: 500px;
    padding: 30px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
}
.time > h2 {
    border-bottom: 3px solid #5F9DC8; 
    width: 700px;
    padding: 10px;
    font-weight: bold;
}
.aquana {
    padding-top: 10px;
    padding-right: 30px;
    color: #0E3C82;
}
.aquana > info {
    color: #5F9DC8;
    border-left: 3px solid #0E3C82; 
}
.hot-water {
    padding-top: 10px;
    padding-right: 30px;
    color: #0E3C82;
}
.hot-water > info{
    color: #5F9DC8;
    border-left: 3px solid #0E3C82; 
}
.tavelstory > h2 {
    color: #0E3C82;
    font-weight: bold;
    font-size: 2rem;
    padding: 10px;
    border-bottom: 3px solid #5F9DC8; 
}
.trip {
    max-width: 1200;
    height: 400px;
    padding: 40px;
    margin: 0 auto;
    overflow: hidden;
}
.trip > h2{
    color: #0E3C82;
    border-bottom: 3px solid #5F9DC8; 
    padding: 10px;
    font-weight: bold;
}
.food {
    max-width: 1200;
    height: 400px;
    padding: 40px;
    margin: 0 auto;
    overflow: hidden;
}
.food > h2{
    color: #0E3C82;
    border-bottom: 3px solid #5F9DC8; 
    padding: 10px;
    font-weight: bold;
}
.healling{
    max-width: 1200;
    height: 863px;
    padding: 40px;
    margin: 0 auto;
    overflow: hidden;
}
.active{
    max-width: 1200;
    height: 799px;
    padding: 40px;
    margin: 0 auto;
    overflow: hidden;
}
